# Gradle
.idea/**/gradle.xml
.idea/**/libraries
.gradle/
build/

# Application specific
*.spv
*.jrnl
tmp/
data/
*.log
webclient.properties

# Eclipse
.settings
.classpath
.project
bin/

# Protobuf
generated/
