# Gradle
.idea/**/gradle.xml
.idea/**/libraries
.gradle/
build/

# Application specific
*.spv
*.jrnl
tmp/
data/
lib/
*.log
webservice.properties
webservice.jar

# Eclipse
.settings
.classpath
.project
bin/